<div>
  <div>
    <form name="editForm" role="form" novalidate [formGroup]="editForm">
      <h2 id="jhi-kich-ban-heading" data-cy="KichBanCreateUpdateHeading">Thêm mới kịch bản</h2>
      <header class="header-tsm">

        <div>
          <label for="maKichBan">
            <p>Mã kịch bản</p>
          </label>
          <input class="form-control" id="maKichBan" name="maKichBan" formControlName="maKichBan">
        </div>
        <div>
          <label for="loaiThietBi">
            <p>Loại thiết bị</p>
          </label>
          <input class="form-control" list="loaiThietBi" formControlName="loaiThietBi"
            (keydown.tab)="getThietBi()">
          <datalist id="loaiThietBi">
            <option *ngFor="let item of listOfThietBi" value="{{item.loaiThietBi}}"></option>
          </datalist>

        </div>
        <div>
          <label for="maThietBi">
            <p>Mã thiết bị</p>
          </label>
          <input class="form-control" list="maThietBi" formControlName="maThietBi" >
          <datalist id="maThietBi">
            <option *ngFor="let item of listMaThietBi" value="{{item.maThietBi}}"></option>
          </datalist>
        </div>
        <div>
          <label for="dayChuyen">
            <p>Dây chuyền</p>
          </label>
          <input class="form-control" id="dayChuyen" name="dayChuyen" formControlName="dayChuyen">
        </div>
        <div>
          <label for="maSanPham">
            <p>Mã sản phẩm</p>
          </label>
          <input class="form-control" id="maSanPham" name="maSanPham" formControlName="maSanPham">
        </div>

        <div>
          <label for="versionSanPham">
            <p>Version sản phẩm</p>
          </label>
          <input class="form-control" id="versionSanPham" name="versionSanPham" formControlName="versionSanPham">
        </div>
        <div>
          <label for="versionSanPham">
            <p>Trạng thái</p>
          </label>
          <select class="form-control" formControlName="trangThai">
            <option value="" hidden>{{trangThai}}</option>
            <option value="active">active</option>
            <option value="deactive">deactive</option>
          </select>
        </div>
      </header>
      <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="editForm.invalid || isSaving"
        class="btn btn-primary" (click)="save()" style="margin-bottom: 2em">
        <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
      </button>
      <!-- --------------------------------- them moi thong so kich ban ---------------------------------------------- -->
      <h2 id="jhi-thiet-bi-heading" data-cy="ThietBiCreateUpdateHeading">Thêm mới thông số kịch bản</h2>
      <button class="btn-add" style="border-radius: 0.5em;" (click)="addRowThongSoKichBan()">Add</button>
      <div>
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col" jhiSortBy="STT"><span>STT</span></th>
              <th scope="col" jhiSortBy="thongSo"><span>Thông số</span></th>
              <th scope="col" jhiSortBy="minValue"><span>Min</span></th>
              <th scope="col" jhiSortBy="maxValue"><span>Max</span></th>
              <th scope="col" jhiSortBy="trungBinh"><span>Trung bình</span></th>
              <th scope="col" jhiSortBy="don"><span>Đơn vị</span></th>
              <th scope="col" jhiSortBy="phanLoai"><span>Phân loại</span></th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tr *ngFor="let data of listOfChiTietKichBan; let i = index; trackBy: trackId" class="editable-row">
            <td>
              <div>{{i+1}}</div>
            </td>
            <td>
              <input class="input-table" type="text" [(ngModel)]="data.thongSo" [ngModelOptions]="{ standalone: true }"
                list="thongSo" />
              <datalist id="thongSo">
                <option *ngFor="let item of listOfThongSo" value="{{item.tenThongSo}}"></option>
              </datalist>
            </td>
            <td>
              <input type="text" [(ngModel)]="data.minValue" [ngModelOptions]="{standalone: true}"
                placeholder="{{data.minValue}}" />
            </td>
            <td>

              <input type="text" [(ngModel)]="data.maxValue" placeholder="{{data.maxValue}}"
                [ngModelOptions]=" {standalone: true}" />
            </td>
            <td>

              <input type="text" [(ngModel)]="data.trungbinh" placeholder="{{data.trungbinh}}"
                [ngModelOptions]="{standalone: true}" />
            </td>
            <td>

              <input type="text" [(ngModel)]="data.donVi" placeholder="{{data.donVi}}"
                [ngModelOptions]=" {standalone: true}" list="donVi" />
                <datalist id="donVi">
                  <option *ngFor="let item of listDonVi" value="{{item.donVi}}"></option>
                </datalist>
            </td>
            <td>
              <select class="form-control" 
              [(ngModel)]="data.phanLoai" 
              [ngModelOptions]="{ standalone: true }">
                <option [ngValue]="" hidden>{{data.phanLoai}}</option>
                <option value="Thông số máy">Thông số máy</option>
                <option value="Thông số sản phẩm">Thông số sản phẩm</option>
              </select>
            </td>
            <td><button class="btn btn-danger btn-sm" (click)="deleteRow(data.thongSo)">Xoá</button></td>
          </tr>
        </table>

        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
            (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
          </button>

          <button type="submit" id="save-entity" data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving" (click)="saveChiTietKichBan()" class="btn btn-primary">
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>